data/
datasets/
runs/
outputs/
artifacts_model/
*.pth
*.pt
*.ckpt
__pycache__/
.ipynb_checkpoints/
.DS_Store
evaluate.py
gan_train.py
preprocess.py
rl_train.py
Generator.py
Discriminator.py